/*=[ Basics ]=================================================================*/

@font-face {
  font-family: "Computer Modern";
  src: url('../fonts/cmunrm.otf');
}

body {
  font-family: "Computer Modern", sans-serif;
  width: 70vw;
  max-width: 40rem;
  margin: 10vh auto;
  text-align: center;
}

/*=[ Header ]=================================================================*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

header .title {
  font-size: 10rem;
  line-height: 8rem;
  font-weight: bold;
}

header .subtitle {
  font-size: 1.5rem;
}

header.small {
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

header.small .title, header.small .subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
}

header, header .title, header .subtitle {
  transition-property: all;
  transition-duration: .5s;
}

.tex sub {
  text-transform: uppercase;
  position: relative;
  bottom: -.5ex;
  vertical-align: baseline;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}

/*=[ Contents ]===============================================================*/

#diagram {
  margin: 1.2rem auto;
}

#logger {
  color: darkred;
  border: 2px dotted red;
}

#diagram svg {
  overflow: visible;
}

.collapsed {
  height: 1px !important; /* not 0 to avoid bug w/ margin overlap */
  opacity: 0 !important;
}

#diagram, #logger {
  transition-property: height, opacity;
  transition-duration: .3s;
}

/*=[ Actuator ]===============================================================*/

#actuator {
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 1rem;
  border: none;
  padding: .5rem .5rem;
  height: 2.5rem;
  font-weight: bold;
  margin: 2rem;
  display: inline-flex;
  align-items: center;
}

#actuator[disabled] {
  background-color: #888;
}

#actuator:not([disabled]):hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#actuator-throbber {
  display: inline-block;
  border: .5rem solid #FFF;
  border-top-color: #AAA0;
  animation: throb 1s infinite linear;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

@keyframes throb {
    0% { transform: rotate(  0deg); }
  100% { transform: rotate(360deg); }
}

#actuator-throbber[hidden] {
  display: none;
}

#actuator-label {
  margin: auto .5rem;
}
