!.gitignore

dist/
build/

#===[ *TeX* ]===================================================================

*.log
*.pdf
*.pgf
*.tuc
*.aux
*.fdb_latexmk
*.fls
*.tmp
*.listing

# AucTeX
**/auto/

#===[ ruby ]====================================================================

# /InstalledFiles
# /pkg/
# /spec/reports/
# /spec/examples.txt
# /test/tmp/
# /test/version_tmp/
# /tmp/

# Used by dotenv library to load environment variables.
# .env
