
@font-face {
  font-family: "Computer Modern";
  src: url('fonts/Concrete/cmunorm.ttf');
}

button {
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 5px 10px 5px 10px;
  margin: 20px;
}

button:hover {
  background: #6a00ff;
}


body {
  font-family: "Computer Modern", sans-serif;
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
}

p {
  text-align: justify;
}

#display {
  margin: 40px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50%;
}


header {
  display: flex;
  flex-direction: column;
  align-items:center;
}

header .title {
  font-size: 125px;
  line-height: 100px;
}

header .title .d {
/*
  margin-left: -0.06em;
  margin-right: -0.02em;
*/
}


.tex sub {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}

svg {
  overflow: visible;
}

